</div>
<div class="footer-padding"></div>
<div class="footer">

  <div>
    <div class="contact">
      <a class="icons" href="https://www.linkedin.com/in/amanzano05/" target="_blank"><i class="fab fa-linkedin"></i></a>
      <a class="icons" href="https://github.com/amanzano05" target="_blank"><i class="fab fa-github-square"></i></a>
      <a class="icons" href="mailto:amanzano05@icloud.com" target="_top"><i class="fas fa-envelope-square"></i></a></div>
    <div>
      <p>© 2020 Alfonso Manzano Gonzalez.</p>
    </div>
  </div>
</div>
<script src="/javascript/journal.js" charset="utf-8"></script>
</body>

</html>
